<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Places Searchbox</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 200px;
        width: 50%
      }

    </style>
  </head>
  <body>
    <input id="search" type="text" placeholder="Search Box">
    <div id="map"></div>
<button id="z">ds</button>

    <script src="MapSelect.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIDBY7PoZFZMCwcdPNhkAAYuj7f79uuAk&libraries=places&callback=initAutocomplete"
         async defer></script>
         <script type="text/javascript" src="jquery-3.3.1.min.js" ></script>

<script type="text/javascript" src="ajax.js"></script>
<h1>Sam Pagal</h1>
  </body>
</html>
